[submodule "Engine/ThirdParty/spdlog"]
	path = Engine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
